[Unit]
Description=Witchful Knight Horse Audio
After=network-online.target

[Service]
Type=simple
User=tempus
WorkingDirectory=/home/tempus/witchful-knight-horse-audio
ExecStart=/usr/bin/node /home/tempus/witchful-knight-horse-audio/index.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
